
body{
    background: linear-gradient(135deg, #B11226, #F6C1CC);
    font-family: 'Montserrat', sans-serif;
    
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.03'/%3E%3C/svg%3E");
  pointer-events: none;
}


#main-container{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Partie avec la question */

#question{
    font-size: 20px;
    text-align: center; 
    color: white
}

h1 {
  text-shadow: 
    0 0 10px rgba(255,255,255,0.25),
    0 0 30px rgba(255,77,109,0.3);
}


/* Les boutons */


#buttons {
  display: inline-flex;
  align-items: center;
}

.btn {
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.25s ease;
}

.btn-yes {
  background: linear-gradient(135deg, #FF4D6D, #FF8FA3);
  color: white;
  z-index: 1;
  animation: softBeat 2s infinite;
}

@keyframes softBeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.btn-yes:hover {
  transform: scale(1.15);
}

.btn-yes:active {
  transform: scale(0.95);
}

.btn-no {
  position: relative;
  right: 0; /* position initiale */
  background: linear-gradient(135deg, #FF4D6D, #FF8FA3);
  color: white;
  margin-left: 30px;
  box-shadow: 0 8px 20px rgba(255, 77, 109, 0.4);
}

.btn-no:hover {
  background-color: rgba(255, 77, 109, 0.1);
  transform: scale(1.03);
}

.btn-no[disabled] {
  opacity: 0.5;
}

.confetti {
  position: fixed;
  top: -10px;
  font-size: 1.5rem;
  animation: fall 2.5s linear forwards;
  pointer-events: none;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.heartbeat {
  font-size: 4rem;
  margin-bottom: 1rem;
  animation: beat 1s infinite;
  cursor: pointer;
  user-select: none;
}

.heartbeat:active {
  transform: scale(0.9);
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.15);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

