#header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 99999;
}


#liste-header{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#liste-header a {
    text-decoration: none;
    font-weight: bold;
}



.menu {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
  font-size: 20px;
  margin-right: 20px;
}

.menu:hover,
.menu.active {
  color: #FF8FA3;
}


@media (max-width: 1024px) {
    .menu{
        margin-right: 20px;
        font-size: 20px;
    }
}


