body{
    background: linear-gradient(135deg, #B11226, #F6C1CC);
    font-family: 'Montserrat', sans-serif;
    
}

/* Container principal */
#profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  min-height: 97.8vh;
}

/* === CARROUSEL === */
.carousel {
  position: relative;
  width: 460px;
  height: 600px;
  overflow: hidden;
  border-radius: 24px;
}

.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.carousel-slide {
  flex: 0 0 100%;   /* ⚠️ IMPORTANT */
  height: 100%;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Boutons */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.3);
  border: none;
  font-size: 2rem;
  color: white;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}